version: "3"

services:
  nginx:
    image: docker.io/nginx
    ports:
      - "80:80"
    volumes:
      # 绑定挂载配置文件
      - /opt/nginx/nginx.conf:/etc/nginx/nginx.conf
      - /opt/nginx/conf.d:/etc/nginx/conf.d
    networks:
      - hlsyw_net

  mysql:
    image: docker.io/mysql
    volumes:
      # 绑定挂载配置文件
      - /opt/mysql/conf/my.cnf:/etc/mysql/my.cnf
      # 绑定挂载数据文件
      - /opt/mysql/data:/var/lib/mysql
      # 绑定挂载日志文件
      - /opt/mysql/logs:/logs
    environment:
      # 设置root密码为空
      - MYSQL_ALLOW_EMPTY_PASSWORD=true
    networks:
      - hlsyw_net

  hlsyw:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - /opt/hlsyw:/opt/hlsyw
      # 挂载系统时间
      - /etc/localtime:/etc/localtime:ro
    networks:
      - hlsyw_net

networks:
  hlsyw_net:
    driver: bridge
